<p style="color: green"><%= notice %></p>

<%= render @wikipost %>

<h1><%= @wikipost.title.titleize%></h1>
<% if @wikipost.image.attached? %>
<%= image_tag @wikipost.image%>
<%end%>
<p><%= @wikipost.description %></p>
<p>Author: <%= @wikipost.author.titleize %></p>
<p>Created on <%= @wikipost.created_at.strftime('%B %d, %Y') %></p>

<div>
  <%= link_to "Edit this wikipost", edit_wikipost_path(@wikipost) %> |
  <%= link_to "Back to wikiposts", wikiposts_path %>

  <%= button_to "Destroy this wikipost", @wikipost, method: :delete, form: {data:{turbo_confirm: "Are you sure you want to delete #{@wikipost.title} ?"}} %>
</div>
