<p style="color: green"><%= notice %></p>

<%= render @wikipost %>
<h1><%= @wikipost.title%></h1>
<p>Created on <%= @wikipost.created_at.strftime('%B %d, %Y') %></p>

<div>
  <%= link_to "Edit this wikipost", edit_wikipost_path(@wikipost) %> |
  <%= link_to "Back to wikiposts", wikiposts_path %>

  <%= button_to "Destroy this wikipost", @wikipost, method: :delete %>
</div>
