<p style="color: green"><%= notice %></p>

<%= render @wikipost %>

<div>
  <%= link_to "Edit this wikipost", edit_wikipost_path(@wikipost) %> |
  <%= link_to "Back to wikiposts", wikiposts_path %>

  <%= button_to "Destroy this wikipost", @wikipost, method: :delete %>
</div>
